.carousel .slide img  {
  width: auto !important;
}

.img-input {
  width: 250px;
  height: 250px;
}

.hidden {
  display: none;
}

.search-inf__list--scrool {
  overflow-x: hidden;
  overflow-y: auto;
}

.login {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #3b3b3b;
  padding: 22px 26px;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
    top: 85%;
    left: 0%;
}

.dropdown:hover .dropdown-content__search {
  display: block;
    top: 180%;
    left: 0%;
}


.class-tt {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 3.5rem auto 0 auto;

}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  /* margin-right: 2.5rem; */
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
  background-color: #77aa5f;
  border:aqua 3px solid;
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  /* font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem; */
}

.operations__content--active {
  display: grid;
  /* grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem; */
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

.dropdown__span {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #3b3b3b;
  padding: 22px 26px;
  text-transform: uppercase;
}

.dropdown__span--active {
  color: #308409 !important;
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #3b3b3b;
  padding: 22px 26px;
  text-transform: uppercase;
}

.dropdown__span-item a{
  color: #3b3b3b;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #3b3b3b;

  text-transform: uppercase;
}

.dropdown__span-item--active a{
  color: #308409 !important;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #3b3b3b;

  text-transform: uppercase;
}

.paginationBtn {
  margin: 24px auto 40px auto;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #76de6d;
  color: #76de6d;
  cursor: pointer;
}

.paginationBtn a:hover {
  color: white;
  background-color: #76de6d;
}

.paginationActive a {
  color: white;
  background-color: #76de6d;
}

.paginationDisabled a {
  cursor: none;
  background-color: #3b3b3b;
  color: white;
}

.bg-main {
  margin-top: 120px;
  background-image: url("./images/image.png");
  background-size: cover;
  padding: 1px;
}


.bg-child {
  width: 80%;
  margin: 80px auto !important;
  padding: 50px;
  border-radius: 20px;
  background: rgba(255, 255, 255, .94);
}

.image-upload__div {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: -22px;
}

.col__ml--2 {
  margin-left: -45px;
}

.select__parent {
  padding: 0 30px;
}

.nav {
  margin-left: -44px;
}

.menu-phone {
  display: none;
}

.explorer__phone-show {
  margin:10px 0 40px 100px;
 
}

.show-title__child {
  display: none;
}

.plants__child {
  margin: 48px auto !important;
    padding: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    width: 75%;
}

.change__language {
  padding: 16px 26px;
  


}