.carousel .slide img  {
  width: auto !important;
}

.img-input {
  width: 250px;
  height: 250px;
}

.hidden {
  display: none;
}

.search-inf__list--scrool {
  overflow-x: hidden;
  overflow-y: auto;
}